@model PersonListModel
@{
    ViewBag.Title = "List";
}

<form asp-action="List" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="List">Back to Full List</a>
        </p>
    </div>
</form>

<div>
    <table id="memberlist">
        <tbody>
            @foreach (var person in Model.Persons)
            {
                <tr>
                    <td>
                        @person.FirstName
                    </td>
                    <td>
                        @person.LastName
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@person.Id">Edit</a>
                    </td>
                    <td>
                        <a id="delete_person" class="btn btn-danger" data-model-id="@person.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-primary" asp-action="Create">Create</a>
</div>


@{
    var prevDisabled = !Model.Persons.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Persons.HasNextPage ? "disabled" : "";
}

<a asp-action="List"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.Persons.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="List"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.Persons.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>

<script>
    function deletePerson(obj) {
        var Id = obj.data("model-id");
        console.log('/person/delete')
        $.ajax({
            url: '/person/delete/',
            type: 'DELETE',
            cache: false,
            data: {
                id: Id
            },
            success: function (result) {
                obj.parents("tr").remove();
            }
        });
    }
    $(document).ready(function () {
        $(document).on("click", "#delete_person", function () {
            deletePerson($(this))
        })
    })
</script>