@model IEnumerable<PersonConnections>

@{
    ViewData["Title"] = "View";
}

<h1>Connections Report</h1>

<table class="table">
    <thead>
        <tr>
            <th>Full Name</th>
            @foreach (var item in Model.First().Connections)
            {
                <th>@item.Key</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Person" asp-action="Details" asp-route-id="@item.person.Id"> @item.person.FirstName - @item.person.LastName</a>
                </td>
                @foreach (var connection in item.Connections)
                {
                    <td>
                        @connection.Value
                    </td>
                }

            </tr>
        }
    </tbody>
</table>
